* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font: normal 13px/16px "Open Sans", sans-serif;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container 
{
    padding: 20px;
    width: 320px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form 
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

input 
{
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button 
{
    background-color: #fc999b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
}

button:hover 
{
    cursor: pointer;
    opacity: 0.8;
}

ol 
{
    padding-left: 0;
    list-style-type: none;
    margin-top: 15px;
}

ol li 
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    color: #000;
    background: white;
    border-radius: 3px;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

ol li:nth-child(even) 
{
    background: #dfdfdf;
}

ol li input[type="radio"] 
{
    transform: scale(1.2);
    cursor: pointer;
}

.task-time 
{
    font-size: 12px;
    color: rgb(73, 67, 67);
}

.strike 
{
    color: gray;
    text-decoration: line-through;
}

li:hover
{
    cursor: pointer;
}
