*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box1
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2
{
    height: 100px;
    width: 30%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.color-code
{
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
}

.color-code #code
{
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 32%;
}

.box2 #btn
{
    width: 90%;
    height: 35px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
}